.art__text1 {
width: 518px;
height: 57px;
display: flex;
flex-direction: row;
align-items: center;
margin-left: 701px;
margin-bottom: 70px;
}

.art__text2 {
color: rgba(31, 30, 30, 1);
font-family: Lora;
font-size: 45px;
font-weight: 400;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}

.art__text3 {
width: 990px;
height: 116px;
margin-left: 465px;
margin-top: 70px;
display: flex;
flex-direction: row;
align-items: center;
}

.art__text4 {
color: rgba(31, 30, 30, 1);
font-family: Lora;
font-size: 45px;
font-weight: 400;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}

.want {
margin-top: 100px;
margin-bottom: 46px;
margin-right: 906px;
margin-left: 924px;
width: 90px;
height: 30px;
display: flex;
flex-direction: row;
align-items: center;

&__text {
color: rgba(31, 30, 30, 1);
font-family: Lora;
font-size: 22px;
font-weight: 400;
line-height: 30px;
letter-spacing: 2%;
text-align: center;
text-transform: uppercase;
}

&__btn {
    display: flex;
    flex-direction: row;
    
}
}

.want__btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 100px;
    margin-left: 648px;
    margin-right: 648px;
    gap: 106px;
    
    
}
.want__btn {
    text-decoration: none;
    width: 192px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    &--event {
        color: @white !important;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;
        background-color: rgba(165, 21, 5, 1) !important;
        transition: color 0.2s, background-color 0.2s;
        border: 1px solid rgba(165, 21, 5, 1) !important;
        &:hover {
            background-color: rgba(188, 51, 36, 1) !important;
            border: 1px solid rgba(188, 51, 36, 1) !important;
        }
    }
    &--rent {
        color: rgba(31, 30, 30, 1);
font-family: Open Sans;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
    }

}