.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 40px;
    border: 1px solid #1f1e1e;
    background-color: transparent;
    outline: none;
    color: #1f1e1e;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none; /* Убрать подчеркивание */
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    overflow: hidden;
    cursor: pointer; /* Курсор указатель */

    &:hover{
        color: #ffffff;
    background-color: #1f1e1e;
    transition: color 0.2s, background-color 0.2s;
    }

    &--red{
        background-color: #bc3324
        border-color: #bc3324
        color:#ffffff
          
    }
}