.event {
    padding: 40px 0 150px;
    @media @bw768 {
        padding: 40px 0 150px;
    }
    


    &__link{
        display: flex;
        flex-direction: column;
        width: 100%;
        color: #1f1e1e;
        text-decoration: none;
    }
    &__title{
        padding-left: 293px;
        justify-content: center;
        @media @bw768 {
            padding-left: 30px;
            justify-content: center;
        }
    }
    &__title-way {
    display: flex;
    flex-direction: row;
    width: 394px;
    height: 22px;
    align-items: center;
    gap: 5px;
    
    }
    &__face {
display: flex;
flex-direction: column;
    color: rgba(31, 30, 30, 1);
    font-family: Lora;
    font-size: 70px;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 258px;
    @media @bw768 {
        margin-left: 120px;
    }


    }
    &__face-title {
    width: 819px;
    height: 90px;
    display: flex;
    align-items: center; // ← вертикальное выравнивание
    justify-content: center; // ← горизонтальное выравнивание
    font: 70px Lora;
    @media @bw768 {
            width: 468px;
            height: 51px;
            padding-left: 0;
            font: 40px Lora;
        }
    
    }
    &__face-img {
    width: 506px;
    height: 532px;
    padding-left: 58px;
    padding-right: 58px;
    @media @bw768 {
            width: 245px;
            height: 262px;
            padding-left: 41px;
            padding-right: 41px;
        }
    
    }
    &__info {
        display: flex;
        flex-direction: row;
        margin-left: 212px;
        font-family: 'Mak';
        align-items: center;
        @media @bw768 {
            margin-left: 94px;
        }

        
    }
    &__kafe {
        max-width: 150px;
        max-height: 95px;
        @media @bw768 {
            max-width: 108px;
        max-height: 56px;
        }
    }
    &__date,
    &__time {
        color: rgba(31, 30, 30, 1);
        font-size: 26px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 15px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        white-space: nowrap;
        @media @bw768 {
            width: 50px;
            margin-right: 0;
            margin-bottom: 0;
            font-weight: 100;
            font-size: 18px;
            line-height: 5px;
        }
        
    }
    &__address,
    &__place {
        color: rgba(31, 30, 30, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 15px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        white-space: nowrap;
        @media @bw768 {
            font-size: 11px;
        }
    }
    &__time-n {
        color: rgba(31, 30, 30, 1);
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 15px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        white-space: nowrap;
        @media @bw768 {
            width: 108px;
            
            margin-bottom: 0;
            font-weight: 100;
            font-size: 11px;
            line-height: 5px;
        }
    }
    &__lenin-20 {
        display: flex;
        flex-direction: row;
        gap:10px;
    }
    &__info-rus {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        max-height: 80px;

        
    }
    &__info-rusc {
        font-size: 18px;
    color: @black;
    }
    &__info-ruscs {
        font-size: 16px;
        color: @black;
        line-height: 30px;
        margin-top: 21px;
        margin-bottom: 75px;
    }
    &__info-ruscspoint {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }

}
.way {
    color: rgba(31, 30, 30, 1);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}
.li-red {
    color: @red;
}
