.page-header {
    height: 147px;
    backdrop-filter: blur(20px);
    background: rgba(222, 222, 222, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center; 
    z-index: 1000;
    @media @bw768 {
        height: 111px;
    }
    
    

    &__container {
        box-sizing: border-box;
        justify-content:space-between;
        display: flex;
        align-items: center;  
        width: 100%; 
        max-width: 1920px; 
        margin: 0; 
        padding-left: 40px;
        padding-right: 40px;
        @media @bw768 {
            padding-left: 20px;
            padding-right: 20px;
            
        }
    }
    &__nav{
    display: flex;
    gap: 50px;
    padding-left: -100px;
    }

    &__nav-link{
    color: #1f1e1e;
    font-weight: 600;
    font-size: 1.39;
    text-decoration: none;
    @media @bw768 {
            font-size: 0px;
        }
    }
    &__nav-link:hover{
        color: #bc3324;
        transition: color 0.2s;
        
    }

    &__right-block{
        width: 202px;
        padding-right: 253px;
        @media @bw768 {
            width: 150px;
        }
    }


    &__logo{
        width: 202px;
        height: 147px;
        font-size: 0;
        text-decoration: none;
        display: flex;
        align-items: center; // Центрируем по вертикали
        justify-content: center; // Центрируем по горизонтали
        padding-left: 253px;
        @media @bw768 {
            width: 152px;
            height: 111px;
        }
    }

    &__logo-icon{
        width: inherit;
        height: inherit;
    }
    &__menu {
        display: none;
        @media @bw768 {
            display: block;
            width: 24px;
            height: 24px;

        }
    }
    &__user {
        width: 0;
        @media @bw768 {
            width: 24px;
            height: 24px;
        }
    }
    &__btn {
        @media @bw768 {
            display: none;
        }
    }
    }


