.reserve{
    display: grid;
    grid-template-columns:405px 1fr;
    grid-template-columns:405px calc(89% - 405px);
    gap: 65px 11%;
    grid-template-areas: 
    "checks scheme"
    "order legend";
    width: 100%;
    margin-top: 837px;
    padding-left: 293px;
    @media @bw768 {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
    }

    &__checks{
        grid-area: checks;

    }

    &__scheme{
        grid-area: scheme;
        @media @bw768 {
            max-width: 80%;
            margin-left: 50px;
        }
        

    }
    &__scheme-scene {
        margin-left: 168px;
    }

    &__order{
        grid-area: order;
        background-color: gray;
    }

    &__legend{
        grid-area: legend;
        background-color: red;
    }
}