h1 {
    color: red;
}


.main-header {
    max-width: 1334px;
    margin: 0 auto 100px;
}

.about {
    max-width: 1334px;
    margin: 0 auto 100px;
}

.events {
    max-width: 1334px;
    margin: 0 auto 100px;
}

.blog {
    max-width: 1334px;
    margin: 0 auto 100px;
}

.contacts {
    max-width: 1334px;
    margin: 0 auto 100px;
}